<div {{#if @div.params.id}}id="{{@div.params.id}}" {{/if~}}
        class="message message-{{@div.params.type}}">
    <h4><i class="icon fw fw-{{icon}}"></i>{{@div.params.title}}</h4>
    <p>{{{@div.params.message}}}</p>
</div>